# General
temp
build.config
build.number

# Flash Builder
actionscript/bin
.actionScriptProperties
.flexLibProperties

# Eclipse
.settings
.project

# Android
bin/AirPushNotification_multiMsg.ane
android/bin
android/gen
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata
ios/build

# OS X
Icon
Thumbs.db
.DS_Store

#Idea
.idea
*.iml
classes
out


google-play-services_lib
sample-project/ext
cer
/sample-project/extentions
package-target
/android/src/com/appsflyer/adobeair/lib
/sample-project/build/build.custom.properties
